#           Analyzing & Clustering Delhi POI data from OSM

In [1]:
import numpy as np
import pandas as pd

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

# map rendering library
import folium

### Loading Delhi POI data extracted from OSM into dataframe

In [2]:
df = pd.read_csv("Delhi_geo_data.csv")

In [3]:
df.shape

(3562, 5)

In [4]:
df.head()

          id    category sub_category        lat         lon
0  352253821  sustenance          bar  28.665502   77.302875
1  154110068  sustenance         cafe  28.594870   77.018324
2  252334020  sustenance         cafe  28.559042   77.283511
3  311711702  sustenance         cafe  37.430555 -120.777042
4  340381516  sustenance         cafe  28.549631   77.167901

### Setting geographical coordinates of Delhi City

In [ ]:
latitude = 12.9791198 
longitude = 77.5912997
print('The geograpical coordinate of Bangalore City are {}, {}.'.format(latitude, longitude))